@import '~@simonwep/pickr/dist/themes/monolith.min.css';  // 'monolith' theme
.options-panel {
    background-color: white;
    border: 1px solid $dark;
    display: none;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: fit-content;
    z-index: 99;
    &.shown {
        display: block;
    }
    .close {
        margin: 3px;
    }
    .content {
        margin: 20px;
        .header {
            font-size: 20px;
            font-weight: 600;
        }
        .body {
            margin: 15px 0 20px 0;
        }
        .section {
            border: 1px solid $dark;
            border-top: none;
            width: 300px;
            &:first-child {
                border-top: 1px solid $dark;;
            }
            .section-tab {
                border-bottom: none;
                padding: 5px 10px 8px 10px;
                button {
                    padding-top: 0;
                }
                .fold {
                    display: none;
                }
                .expand {
                    display: block;
                }
            }
            &.expanded {
                .section-tab {
                    border-bottom: 1px solid $dark;
                    .fold {
                        display: block;
                    }
                    .expand {
                        display: none;
                    }
                }
                .section-content {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            .section-content {
                display: none;
                padding: 10px;
                .option-item {
                    display: flex;
                    flex-direction: column;
                    &.group, &.toggle {
                        cursor: pointer;
                        &.selected {
                            background-color: $accent;
                            color: white;
                            cursor: default;
                        }
                        &:hover:not(.selected) {
                            background-color: $dimmer;
                        }
                    }
                    &.group {
                        margin: 0 10px 10px 10px;
                        padding: 5px 10px;
                        .thumbnail {
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 80px;
                            width: 100px;
                            img {display: none;}
                        }
                        .text {
                            margin: auto;
                        }
                    }
                    &.mini {
                        margin: 5px 0 0 0;
                        padding: 1px 5px;
                        span {
                            font-size: 18px;
                            line-height: 1em;
                            margin: auto;
                        }
                        .text {
                            font-size: 12px;
                        }
                    }
                    &.select {
                        margin: 0 5px 0 0;
                        select {
                            font-size: 14px;
                            padding: 4px 10px;
                        }
                    }
                    &.ml-2 {
                        margin-left: 5px;
                    }
                    &.button {
                        cursor: pointer;
                        margin: 0;
                        padding: 4px;
                        &:hover:not(.selected) {
                            background-color: $dimmer;
                        }
                    }
                    &.toggleable {
                        display: none;
                        &.toggled {
                            display: flex;
                        }
                    }
                    .pickr {
                        border: 1px solid $dark;
                        margin: auto;
                        .pcr-button {
                            height: 1em;
                            padding-top: 0;
                            position: unset;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                    #optionBgImage {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: 1px solid $dark;
                        height: 20px;
                        width: 100%;
                    }
                }
            }
        }
    }
    &.performance {
        .content .section .section-content .option-item:not([data-performance]) {
            display: none;
        }
    }
    &.simple {
        .content .section .section-content .option-item:not([data-simple='']) {
            display: none;
        }
    }
    &.audience {
        .content .section .section-content .option-item:not([data-audience='']) {
            display: none;
        }
    }
}

.pcr-app {
    border: 1px solid $dark;
    box-shadow: none;
    transition: none;
    .pcr-interaction {
        .pcr-save {
            background-color: $primary;
            &:focus, &:active {
                box-shadow: none;
                outline: none;
            }
        }
    }
}
