.songs-container {
    &.performance {
        .song-item {
            background-color: $dim;
            padding: 60px 0 42% 0;
            .song-details {
                left: 0;
                position: fixed;
                top: 0;
                transition: box-shadow 200ms ease-in-out;
                &.scrolling {
                    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    .song-item {
        margin: 20px 0;
        display: none;
        &.current {
            display: block;
        }
        .song-details {
            background-color: white;
            box-shadow: none;
            display: flex;
            font-family: 'Consolas', 'Courier New', Courier, monospace;
            font-size: 16px;
            line-height: 1em;
            padding: 5px 0;
            width: 100%;
            z-index: 9;
            .musical-details {
                margin-left: auto;
                margin-right: 30px;
                select {
                    border: none;
                    float: right;
                    font-size: 18px;
                    margin-top: 3px;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    &:hover:not(:focus) {
                        background-color: $dimmer;
                    }
                }
            }
            .basic-details {
                margin-left: 30px;
                .song-name, .song-artist {
                    text-transform: uppercase;
                }
                .song-name {
                    font-weight: 600;
                }
                .song-artist {
                    font-style: italic;
                }
            }
        }
    }
}
