// action buttons
.btn-action { 
    background-color: transparent;
    border:none;
    color: gray;
    float: right;
    &:hover {
        color: darkgray;
        border:none;
    }
    &:focus, &:active {
        outline:none;
    }
}
// link-style Button
.btn-link {
    border: 1px solid darkgray;
    color: darkgray;
    background-color: transparent;
    &:hover {
        border: 1px solid gray;
        color: gray;
    }
    &:focus, &:active {
        outline:none;
    }
}