// Buttons
button {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
// action buttons

.btn-action { 
    background-color: transparent;
    border:none;
    color: gray;
    float: right;
    &:hover {
        color: darkgray;
        border:none;
    }
    &:focus, &:active {
        outline:none;
    }
}
// link-style Button
.btn-link {
    border: 1px solid $secondary;
    color: $secondary;
    background-color: white;
    background-color: transparent;
    &:hover {
        border: 1px solid gray;
        color: gray;
    }
    &:focus, &:active {
        outline:none;
    }
}

// Controls
input, select, textarea {
    border: 1px solid $dark;
    font-size: 18px;
    &:focus {
        border: 1px solid $darker;
    }
    &::placeholder {
        color: $dark;
    }
}
label {
    color: $darker;
}

// Select
select {
    option {
        padding: 0;
        &:hover,&:focus {
            background-color: paleturquoise;
            border: none;
            outline: none;
        }
    }
}