$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.container {
    width: 48em;
    margin:50px auto;
}
.text-muted {
    color: gray;
}

@import 'nav.scss';
@import 'outline.scss';
@import 'buttons.scss';
@import 'songline.scss';
@import 'stanza.scss';
@import 'songpart.scss';
@import 'chordSelection.scss';
@import 'sequence.scss';