nav {
    background-color: $primary;
    padding: 5px 20px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    .song-information {
        margin-left: 50px;
        display: flex;
        .song-title {
            margin-right: 10px;
            input {
                background-color: $primary;
                border: none;
                color: white;
                font-size: 18px;
                padding: 5px 10px;
                width: 250px;
                &:focus {
                    background-color: white;
                    color: black;
                    outline: none;
                    &::placeholder {
                        color: $dark;
                    }
                }
                &::placeholder {
                    color: $primary_light;
                }
            }
        }
        .song-key {
            select {
                background-color: $primary;
                border: none;
                color: white;
                font-size: 18px;
                padding: 5px 10px;
                user-select: none;
                &:focus {
                    background-color: white;
                    color: black;
                    outline: none;
                    user-select:unset;
                }
                option {
                    font-size: 14px;
                }
            }
        }
    }
}