.song-line {
    display: flex;
    position: relative;

    .song-line-content {
        flex-grow: 1;

        .chords {
            .chord-cursor {
                bottom: 50%;
                cursor: pointer;
                position: absolute;
                user-select: none;
                &:hover {
                    background-color: #cfcfcf;
                }
            }
            .chord {
                cursor: pointer;
                border-radius: 2px;
                bottom: 50%;
                position: absolute;
                user-select: none;
                z-index: 0;
                &:hover {
                    background-color: #fafafa;
                    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
                    z-index: 1;
                }
                &.selected {
                    background-color: lightgray;
                }
            }
        }

        .lyrics {
            margin-left: 50px;
        
            input {
                border: none;
                border-bottom: solid 1px gray;
                width: 100%;
                &:focus {
                    background-color: #fafafa;
                    outline: none;
                }
            }
        }
        
        input, .lyrics-view, .chord, .chord-cursor {
            font-family: 'Consolas', 'Courier New', Courier, monospace;
            font-size: 20px;
        }
    }
    
    .song-line-actions {
        display: flex;
        float: right;
        font-size: 20px;
        span {
            color: #e0e0e0;
        }
        .close {
            cursor: pointer;
            .selected {
                background-color: #fafafa;
            }
        }
        .move-handle {
            cursor: move;
        }
    }

    &:hover, &.ui-draggale-dragging {
        
        input:not(:focus) {
            background-color: #dcf9ff;
            cursor: pointer;
        }

        .song-line-actions {
            span {
                color: lightgray;
            }
        }
    }
}

// Context menu for chords
.chord-context-menu {
    background: white;
    border: 1px solid rgba(90, 90, 90, 0.5);
    position: absolute;
    width: 140px;
    z-index: 2;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            cursor: pointer;
            padding: 7px 10px;
            &:hover {
                background-color: aquamarine;
            }
            span {
                font-size: 13px;
            }
        }
    }
}