.song-part-container  {

    .song-part {
        background-color: white;
        border: 1px solid lightgray;
        margin-bottom: 10px;
        padding: 10px;
    }
    
    .song-part-title {
        margin-bottom: 10px;

        select, input {
            border: none;
            font-family: 'Consolas', 'Courier New', Courier, monospace;
            &:focus {
                background-color: #fafafa;
                outline: none;
            }
        }

        select {
            cursor: pointer;
            -webkit-appearance: none;
            &::-ms-expand {
                display: none;
            }
        }

        input[type='number'] {
            width: 30px;
        }
    }

    .expanded-menu {
        background: white;
        border: 1px solid rgba(90, 90, 90, 0.5);
        display: none;
        position: absolute;
        right: 0;
        top:2.5rem;
        width: 140px;
        z-index: 1;
        &.expanded {
            display: block;
            z-index: 99;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                cursor: pointer;
                padding: 7px 10px;
                &:hover {
                    background-color: aquamarine;
                }
                span {
                    font-size: 13px;
                }
            }
        }
    }
}