.song-details-container {
    width: 40em;
    margin: 50px auto;
    .body {
        .input-container {
            display: flex;
            flex-direction: column;
            margin: 0 10px;
            label {
                margin: 2px 10px;
            }
            input, textarea, select {
                border: 1px solid lightgray;
                font-size: 18px;
                padding: 6px 10px;
                &:focus {
                    outline: none;
                }
            }
            select {
                option {
                    font-size: 14px;
                }
            }
            textarea {
                resize: vertical;
            }
            .error-text {
                color: darkred;
                font-size: 14px;
                font-style: italic;
                margin-bottom: 10px;
            }
        }
        .song-musical-details {
            display: flex;
            margin: 20px 0;
            .input-container {
                width: 20em;
            }
        }
        .song-tags {
            .song-tags-box {
                user-select: none;
                .tag-item {
                    background-color: #eaeaea;
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    cursor: pointer;
                    line-height: 2.4em;
                    margin: 2px 5px;
                    padding: 2px 10px;
                    &:hover {
                        background-color: lightgray;
                    }
                    &.selected {
                        background-color: lightgray;
                    }
                }
            }
        }
    }
}