@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.eot?96c476804d7a788cc1c05351b287ee41);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.woff2?0509ab09c1b0d2200a4135803c91d6ce) format("woff2"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.woff?29b882f018fa6fe75fd338aaae6235b8) format("woff"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.ttf?d120c85b6eb0549d60483e2980033c15) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.container {
  width: 48em;
  margin: 50px auto;
}

.text-muted {
  color: gray;
}

button {
  padding: 5px 12px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn-primary {
  background-color: #2a9d8f;
  border: 1px solid #2a9d8f;
  color: white;
}

.btn-primary:hover {
  background-color: #23837b;
  border: 1px solid #23837b;
  color: white;
}

.btn-accent {
  background-color: #e9c46a;
  border: 1px solid #e9c46a;
  color: white;
}

.btn-accent:hover {
  background-color: #f4a261;
  border: 1px solid #f4a261;
  color: white;
}

.btn-white {
  background-color: white;
  border: 1px solid white;
  color: gray;
}

.btn-white:hover {
  background-color: #eaeaea;
}

.btn-action {
  background-color: transparent;
  border: none;
  color: gray;
  float: right;
  padding: 1px 0;
}

.btn-action:hover {
  color: darkgray;
  border: none;
}

.btn-action:focus,
.btn-action:active {
  outline: none;
}

.btn-link {
  border: 1px solid #f4a261;
  color: #f4a261;
  background-color: white;
  background-color: transparent;
  padding: 0 12px;
}

.btn-link:hover {
  border: 1px solid gray;
  color: gray;
}

.btn-link:focus,
.btn-link:active {
  outline: none;
}

label {
  color: gray;
  margin: 2px 10px;
}

input,
select,
textarea {
  border: 1px solid lightgray;
  font-size: 18px;
  padding: 3px 10px;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid gray;
  outline: none;
}

input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: lightgray;
}

input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: lightgray;
}

input::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: lightgray;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: lightgray;
}

select option {
  font-size: 14px;
  padding: 0;
}

select option:hover,
select option:focus {
  background-color: paleturquoise;
  border: none;
  outline: none;
}

.context-menu {
  background: white;
  border: 1px solid lightgray;
  position: absolute;
  width: 140px;
  z-index: 2;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  cursor: pointer;
  padding: 4px 10px;
}

.context-menu ul li:hover {
  background-color: #e9c46a;
  color: white;
}

.context-menu ul li span {
  font-size: 13px;
}

.dialogBox {
  background-color: #2a9d8f;
  border: 1px solid lightgray;
  bottom: 0;
  color: white;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 30px 30px 20px 30px;
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  z-index: 999;
}

.dialogBox label {
  color: white;
}

.dialogBox select {
  background-color: #2a9d8f;
  border: none;
  color: white;
}

.dialogBox select:hover:not(:focus) {
  background-color: #23837b;
}

.dialogBox select:focus {
  background-color: white;
  color: black;
}

.dialogBox .dialog-controls {
  float: right;
  margin-top: 20px;
  position: relative;
}

.loading-panel {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483647;
}

.loading-panel .loading-icon {
  bottom: 0;
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.loading-panel .loading-icon img {
  height: inherit;
  width: inherit;
  -webkit-animation: spin 5s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: spin 5s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

