@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.eot?96c476804d7a788cc1c05351b287ee41);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.woff2?0509ab09c1b0d2200a4135803c91d6ce) format("woff2"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.woff?29b882f018fa6fe75fd338aaae6235b8) format("woff"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.ttf?d120c85b6eb0549d60483e2980033c15) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.container {
  width: 48em;
  margin: 50px auto;
}

.text-muted {
  color: gray;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn-action {
  background-color: transparent;
  border: none;
  color: gray;
  float: right;
}

.btn-action:hover {
  color: darkgray;
  border: none;
}

.btn-action:focus,
.btn-action:active {
  outline: none;
}

.btn-link {
  border: 1px solid #f4a261;
  color: #f4a261;
  background-color: white;
  background-color: transparent;
}

.btn-link:hover {
  border: 1px solid gray;
  color: gray;
}

.btn-link:focus,
.btn-link:active {
  outline: none;
}

label {
  color: gray;
}

input,
select,
textarea {
  border: 1px solid lightgray;
  font-size: 18px;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid gray;
}

input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: lightgray;
}

input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: lightgray;
}

input::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: lightgray;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: lightgray;
}

select option {
  padding: 0;
}

select option:hover,
select option:focus {
  background-color: paleturquoise;
  border: none;
  outline: none;
}

