nav {
  background-color: #2a9d8f;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav .app-name {
  color: white;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
}

nav .song-information {
  margin-left: 50px;
  display: inline-block;
}

nav .song-information .song-title {
  display: inline-block;
  margin-right: 10px;
}

nav .song-information .song-title input {
  background-color: #2a9d8f;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  text-align: right;
  width: 200px;
}

nav .song-information .song-title input:focus {
  background-color: white;
  color: black;
  outline: none;
}

nav .song-information .song-title input:focus::-moz-placeholder {
  color: lightgray;
}

nav .song-information .song-title input:focus:-ms-input-placeholder {
  color: lightgray;
}

nav .song-information .song-title input:focus::-ms-input-placeholder {
  color: lightgray;
}

nav .song-information .song-title input:focus::placeholder {
  color: lightgray;
}

nav .song-information .song-title input:hover:not(:focus) {
  background-color: #5cafa5;
}

nav .song-information .song-title input:hover:not(:focus)::-moz-placeholder {
  color: #23837b;
}

nav .song-information .song-title input:hover:not(:focus):-ms-input-placeholder {
  color: #23837b;
}

nav .song-information .song-title input:hover:not(:focus)::-ms-input-placeholder {
  color: #23837b;
}

nav .song-information .song-title input:hover:not(:focus)::placeholder {
  color: #23837b;
}

nav .song-information .song-title input::-moz-placeholder {
  color: #5cafa5;
}

nav .song-information .song-title input:-ms-input-placeholder {
  color: #5cafa5;
}

nav .song-information .song-title input::-ms-input-placeholder {
  color: #5cafa5;
}

nav .song-information .song-title input::placeholder {
  color: #5cafa5;
}

nav .song-information .song-key {
  display: inline-block;
}

nav .song-information .song-key select {
  background-color: #2a9d8f;
  border: none;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .song-information .song-key select:focus {
  background-color: white;
  color: black;
  outline: none;
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
}

nav .song-information .song-key select:hover:not(:focus) {
  background-color: #5cafa5;
}

nav .song-information .song-key select option {
  font-size: 14px;
}

.step-outline {
  display: flex;
  margin: 50px 30px 10px 30px;
}

.step-outline .step {
  background-color: #eaeaea;
  border: none;
  color: black;
  cursor: pointer;
  margin: auto;
  padding: 10px 28px;
  text-align: center;
  text-transform: uppercase;
}

.step-outline .step:hover {
  background-color: lightgray;
}

.step-outline .step.current {
  background-color: #e9c46a;
  color: white;
  font-weight: 600;
}

.step-outline .step:focus {
  outline: none;
}

.step-outline span {
  color: lightgray;
  font-weight: 100;
  padding: 5px;
}

.song-line {
  display: flex;
  position: relative;
}

.song-line .song-line-content {
  flex-grow: 1;
}

.song-line .song-line-content .song-line-modulation-info {
  font-size: 12px;
  margin: 5px 0 5px 15px;
}

.song-line .song-line-content .chords {
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

.song-line .song-line-content .chords .chord-cursor {
  cursor: pointer;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.song-line .song-line-content .chords .chord-cursor:hover {
  background-color: #cfcfcf;
}

.song-line .song-line-content .chords .chord {
  cursor: pointer;
  border-radius: 2px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 0;
}

.song-line .song-line-content .chords .chord:hover {
  background-color: #fafafa;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.song-line .song-line-content .chords .chord.selected {
  background-color: lightgray;
}

.song-line .song-line-content .lyrics {
  margin-left: 50px;
}

.song-line .song-line-content .lyrics .lyrics-view {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 598px;
}

.song-line .song-line-content .lyrics input {
  border: none;
  border-bottom: solid 1px gray;
  width: 97%;
}

.song-line .song-line-content .lyrics input:focus {
  background-color: #fafafa;
  outline: none;
}

.song-line .song-line-content input,
.song-line .song-line-content .lyrics-view,
.song-line .song-line-content .chord,
.song-line .song-line-content .chord-cursor {
  font-family: inherit;
  font-size: inherit;
}

.song-line .song-line-actions {
  display: flex;
  float: right;
  font-size: 20px;
}

.song-line .song-line-actions span {
  color: #e0e0e0;
}

.song-line .song-line-actions .close {
  cursor: pointer;
}

.song-line .song-line-actions .close .selected {
  background-color: #fafafa;
}

.song-line .song-line-actions .move-handle {
  cursor: move;
}

.song-line:hover input:not(:focus),
.song-line.ui-draggale-dragging input:not(:focus) {
  background-color: #eaeaea;
  cursor: pointer;
}

.song-line:hover input:not(:focus)::-moz-placeholder, .song-line.ui-draggale-dragging input:not(:focus)::-moz-placeholder {
  color: gray;
}

.song-line:hover input:not(:focus):-ms-input-placeholder, .song-line.ui-draggale-dragging input:not(:focus):-ms-input-placeholder {
  color: gray;
}

.song-line:hover input:not(:focus)::-ms-input-placeholder, .song-line.ui-draggale-dragging input:not(:focus)::-ms-input-placeholder {
  color: gray;
}

.song-line:hover input:not(:focus)::placeholder,
.song-line.ui-draggale-dragging input:not(:focus)::placeholder {
  color: gray;
}

.song-line:hover .song-line-actions span,
.song-line.ui-draggale-dragging .song-line-actions span {
  color: lightgray;
}

.character-context-menu {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px 5px;
  position: absolute;
  z-index: 2;
}

.character-context-menu .panel-title {
  margin-left: 5px;
}

.character-context-menu .panel-body {
  display: flex;
  margin: 25px 10px;
}

.character-context-menu .panel-body label {
  margin-right: 10px;
}

.character-context-menu .panel-body .spacer-width {
  border: 1px solid lightgray;
  display: inline;
}

.character-context-menu .panel-body .spacer-width input {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  width: 50px;
}

.character-context-menu .panel-body .spacer-width input:focus {
  outline: none;
}

.character-context-menu .panel-body .spacer-width .clear {
  float: right;
}

.character-context-menu .panel-body .spacer-width .clear span {
  font-size: 14px;
  padding-top: 5px;
}

.character-context-menu .insert {
  background-color: #2a9d8f;
  color: white;
  margin: 0 10px 0 5px;
  padding: 5px 20px;
}

.character-context-menu .insert:hover {
  background-color: #23837b;
}

.song-builder-actions {
  flex-grow: 2;
  margin: 10px 0;
}

.song-builder-actions button {
  background-color: #2a9d8f;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
  line-height: 2.6em;
}

.song-builder-actions button:hover {
  background-color: #23837b;
}

.song-builder-actions button span {
  top: 7.4px;
  position: relative;
}

.song-builder-actions #options {
  color: #7cd3c9;
  border-left: 1px solid #23837b;
  float: right;
  padding: 0;
}

.song-builder-actions #options:hover {
  color: #5cafa5;
}

.song-builder-actions #next {
  float: right;
  padding: 0 15px 0 20px;
}

.song-builder-actions #previous {
  float: left;
  padding: 0 20px 0 15px;
}

.stanza-container .actions-container {
  margin: 10px 10px 5px 10px;
}

.song-part-container .song-part {
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

.song-part-container .song-part-title {
  display: inline-block;
  margin-bottom: 6px;
}

.song-part-container .song-part-title .song-part-name {
  border-radius: 3px;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 14px;
  padding: 2px 10px;
}

.song-part-container .song-part-title .song-part-name:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.song-part-container .song-part-title .song-part-name:hover span {
  color: gray;
}

.song-part-container .song-part-title .song-part-name span {
  color: lightgray;
}

.song-part-container .song-part-modulation-info {
  font-size: 12px;
  margin: 0 0 5px 10px;
}

.song-part-container .song-part-actions {
  margin-bottom: 20px;
}

.song-part-container .btn-action {
  padding: 1px 0;
}

.song-part-container .expanded-menu {
  background: white;
  border: 1px solid lightgray;
  display: none;
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 140px;
  z-index: 1;
}

.song-part-container .expanded-menu.expanded {
  display: block;
  z-index: 99;
}

.song-part-container .expanded-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.song-part-container .expanded-menu ul li {
  cursor: pointer;
  padding: 4px 10px;
}

.song-part-container .expanded-menu ul li:hover {
  background-color: #e9c46a;
  color: white;
}

.song-part-container .expanded-menu ul li span {
  font-size: 13px;
}

.song-part-title-expanded-panel,
.modulation-content-menu {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px 5px;
  position: absolute;
  z-index: 2;
}

.song-part-title-expanded-panel .panel-title,
.modulation-content-menu .panel-title {
  margin-left: 5px;
}

.song-part-title-expanded-panel .panel-body,
.modulation-content-menu .panel-body {
  display: flex;
  margin: 25px 5px 20px 25px;
}

.song-part-title-expanded-panel .panel-body .song-part-name-select,
.modulation-content-menu .panel-body .song-part-name-select {
  font-size: 16px;
  padding: 5px 10px;
}

.song-part-title-expanded-panel .panel-body .song-part-name-select option,
.modulation-content-menu .panel-body .song-part-name-select option {
  font-size: 14px;
}

.song-part-title-expanded-panel .panel-body #modulationScale,
.modulation-content-menu .panel-body #modulationScale {
  font-size: 16px;
  margin-right: 20px;
}

.song-part-title-expanded-panel .panel-body #modulationScale option,
.modulation-content-menu .panel-body #modulationScale option {
  font-size: 14px;
}

.song-part-title-expanded-panel .panel-body .input-container,
.modulation-content-menu .panel-body .input-container {
  border: 1px solid lightgray;
  display: inline;
}

.song-part-title-expanded-panel .panel-body .input-container input,
.modulation-content-menu .panel-body .input-container input {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  width: 50px;
}

.song-part-title-expanded-panel .panel-body .input-container input:focus,
.modulation-content-menu .panel-body .input-container input:focus {
  outline: none;
}

.song-part-title-expanded-panel .panel-body .input-container:focus,
.modulation-content-menu .panel-body .input-container:focus {
  border: 1px solid gray;
}

.song-part-title-expanded-panel .panel-body .input-container .clear,
.modulation-content-menu .panel-body .input-container .clear {
  float: right;
}

.song-part-title-expanded-panel .panel-body .input-container .clear span,
.modulation-content-menu .panel-body .input-container .clear span {
  font-size: 14px;
  padding: 6px 4px 0 0;
}

.song-part-title-expanded-panel .done,
.modulation-content-menu .done {
  background-color: #2a9d8f;
  color: white;
  margin: 0 10px 0 5px;
  padding: 5px 20px;
}

.song-part-title-expanded-panel .done:hover,
.modulation-content-menu .done:hover {
  background-color: #23837b;
}

.chord-selection-menu {
  background-color: white;
  border: 1px solid lightgray;
  padding: 5px;
  position: fixed;
  float: right;
  top: 50px;
  z-index: 2;
}

.chord-selection-menu .content {
  margin: 20px;
}

.chord-selection-menu .content h3 {
  margin: 0;
}

.chord-selection-menu .content .details {
  color: gray;
  font-size: 13px;
}

.chord-selection-menu .content .preview {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 30px;
  height: 50px;
}

.chord-selection-menu .content .body {
  background-color: #fafafa;
  height: 25em;
  overflow-y: auto;
  padding: 10px;
  width: 17.3em;
}

.chord-selection-menu .content .body .section {
  display: flex;
  flex-wrap: wrap;
}

.chord-selection-menu .content .body .section .item {
  background-color: white;
  border: 1px solid #f4a261;
  cursor: pointer;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 18px;
  height: 22px;
  margin: 5px;
  padding: 8px 0;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
}

.chord-selection-menu .content .body .section .item:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.chord-selection-menu .content .body .section .item.selected {
  background-color: #e9c46a;
}

.chord-selection-menu .content .body .section .item.selected:hover {
  box-shadow: none;
}

.chord-selection-menu .content .body .section .item.custom-item {
  width: 100%;
}

.chord-selection-menu .content .body .section.custom-text .custom-item {
  width: 100%;
}

.chord-selection-menu .content .body .section.custom-text .custom-item input {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  border: 1px solid lightgray;
  margin: 0 auto;
  width: 160px;
  padding: 0;
}

.chord-selection-menu .content .body .section.custom-text .custom-item input:focus {
  outline: none;
}

.chord-selection-menu .content .body .edit-custom-text {
  background-color: #eaeaea;
  border-radius: 5px;
  float: unset;
  margin-left: 10px;
  padding: 2px 6px;
}

.chord-selection-menu .content .body .edit-custom-text span {
  font-size: 16px;
}

.sequence-container {
  border: 1px solid lightgray;
  padding: 15px 20px 20px 20px;
}

.sequence-container .sequence-details {
  margin-bottom: 20px;
}

.sequence-container .sequence-details .other-sequence-actions {
  float: right;
}

.sequence-container .sequence-details .edit-details {
  margin: 0 60px 20px 20px;
}

.sequence-container .sequence-details .edit-details .input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.sequence-container .sequence-details .edit-details .input-container input,
.sequence-container .sequence-details .edit-details .input-container textarea {
  max-width: 390px;
}

.sequence-container .sequence-details .edit-details .input-container textarea {
  resize: vertical;
}

.sequence-container .sequence-title {
  font-weight: 500;
  margin: 0 0 10px 0;
}

.sequence-container #sequenceBox {
  padding: 10px;
  margin-left: 20px;
}

.sequence-container #sequenceBox .sequence-item {
  display: flex;
  padding: 5px 3px;
}

.sequence-container #sequenceBox .sequence-item select {
  font-size: 16px;
  padding: 5px 10px;
  width: 230px;
}

.sequence-container #sequenceBox .sequence-item select option {
  font-size: 14px;
}

.sequence-container #sequenceBox .sequence-item select:focus {
  outline: none;
}

.sequence-container #sequenceBox .sequence-item .repeat,
.sequence-container #sequenceBox .sequence-item .modulation {
  margin-left: 10px;
  display: flex;
}

.sequence-container #sequenceBox .sequence-item .repeat .repeat-input,
.sequence-container #sequenceBox .sequence-item .repeat .modulation-input,
.sequence-container #sequenceBox .sequence-item .modulation .repeat-input,
.sequence-container #sequenceBox .sequence-item .modulation .modulation-input {
  border: 1px solid lightgray;
  display: flex;
}

.sequence-container #sequenceBox .sequence-item .repeat .repeat-input input,
.sequence-container #sequenceBox .sequence-item .repeat .modulation-input input,
.sequence-container #sequenceBox .sequence-item .modulation .repeat-input input,
.sequence-container #sequenceBox .sequence-item .modulation .modulation-input input {
  border: none;
  font-size: 16px;
  padding-left: 10px;
  width: 50px;
}

.sequence-container #sequenceBox .sequence-item .repeat .repeat-input input:focus,
.sequence-container #sequenceBox .sequence-item .repeat .modulation-input input:focus,
.sequence-container #sequenceBox .sequence-item .modulation .repeat-input input:focus,
.sequence-container #sequenceBox .sequence-item .modulation .modulation-input input:focus {
  outline: none;
}

.sequence-container #sequenceBox .sequence-item .repeat .repeat-input .clear,
.sequence-container #sequenceBox .sequence-item .repeat .modulation-input .clear,
.sequence-container #sequenceBox .sequence-item .modulation .repeat-input .clear,
.sequence-container #sequenceBox .sequence-item .modulation .modulation-input .clear {
  padding: 4px 2px 0 2px;
}

.sequence-container #sequenceBox .sequence-item .repeat .repeat-input .clear span,
.sequence-container #sequenceBox .sequence-item .repeat .modulation-input .clear span,
.sequence-container #sequenceBox .sequence-item .modulation .repeat-input .clear span,
.sequence-container #sequenceBox .sequence-item .modulation .modulation-input .clear span {
  font-size: 14px;
}

.sequence-container #sequenceBox .sequence-item .sequence-item-actions {
  flex-grow: 1;
}

.sequence-container #sequenceBox .sequence-item .sequence-item-actions button {
  float: right;
}

.sequence-container #sequenceBox .sequence-item .sequence-item-actions span {
  color: #eaeaea;
}

.sequence-container #sequenceBox .sequence-item .sequence-item-actions span:hover {
  color: lightgray;
}

.sequence-container #sequenceBox .sequence-item .sequence-item-actions .move-handle {
  cursor: move;
}

.sequence-container .sequence-actions {
  margin: 0 30px 10px 30px;
}

.song-details-container {
  border: 1px solid lightgray;
  margin: 0 auto;
  padding: 10px 80px 0 80px;
}

.song-details-container .body .input-container {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}

.song-details-container .body .input-container label {
  white-space: nowrap;
}

.song-details-container .body .input-container select option {
  font-size: 14px;
}

.song-details-container .body .input-container textarea {
  resize: vertical;
}

.song-details-container .body .input-container .error-text {
  color: #cc1212;
  display: none;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.song-details-container .body .input-container .key-scale-select {
  display: flex;
  flex-direction: row;
}

.song-details-container .body .input-container.has-error .error-text {
  display: block;
}

.song-details-container .body .song-musical-details {
  display: flex;
  margin: 20px 0;
}

.song-details-container .body .song-musical-details .input-container.song-time-sign {
  flex-grow: 1;
}

.song-details-container .body .song-musical-details .input-container .song-speed-input {
  width: 150px;
}

.song-details-container .body .song-tags .song-tags-box {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.song-details-container .body .song-tags .song-tags-box .tag-item {
  background-color: #fafafa;
  border: 1px solid lightgray;
  color: black;
  cursor: pointer;
  line-height: 2.1em;
  margin: 0 2px;
  padding: 0 10px 3px 10px;
}

.song-details-container .body .song-tags .song-tags-box .tag-item:hover {
  background-color: #eaeaea;
}

.song-details-container .body .song-tags .song-tags-box .tag-item.selected {
  background-color: #e9c46a;
  border: none;
  color: white;
}

.song-builder-actions {
  flex-grow: 2;
  margin: 10px 0;
}

.song-builder-actions button {
  background-color: #2a9d8f;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
  line-height: 2.6em;
}

.song-builder-actions button:hover {
  background-color: #23837b;
}

.song-builder-actions button span {
  top: 7.4px;
  position: relative;
}

.song-builder-actions #options {
  color: #7cd3c9;
  border-left: 1px solid #23837b;
  float: right;
  padding: 0;
}

.song-builder-actions #options:hover {
  color: #5cafa5;
}

.song-builder-actions #next {
  float: right;
  padding: 0 15px 0 20px;
}

.song-builder-actions #previous {
  float: left;
  padding: 0 20px 0 15px;
}

html,
body {
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  width: 48em;
}

.overflow-window {
  overflow-y: auto;
}

