nav {
  display: flex;
  height: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

nav .rightside-menu {
  margin-left: auto;
}

nav .rightside-menu .options-toggler {
  color: #eaeaea;
  margin: 4px;
  padding: 3px 6px;
}

nav .rightside-menu .options-toggler:hover {
  color: lightgray;
}

.options-panel {
  background-color: white;
  border: 1px solid lightgray;
  display: none;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 99;
}

.options-panel.shown {
  display: block;
}

.options-panel .close {
  margin: 3px;
}

.options-panel .content {
  margin: 20px;
}

.options-panel .content .header {
  font-size: 20px;
  font-weight: 600;
}

.options-panel .content .body {
  margin: 15px 0 20px 0;
}

.options-panel .content .section {
  border: 1px solid lightgray;
  width: 300px;
}

.options-panel .content .section .section-tab {
  border-bottom: none;
  padding: 5px 10px 8px 10px;
}

.options-panel .content .section .section-tab button {
  padding-top: 0;
}

.options-panel .content .section .section-tab .fold {
  display: none;
}

.options-panel .content .section .section-tab .expand {
  display: block;
}

.options-panel .content .section.expanded .section-tab {
  border-bottom: 1px solid lightgray;
}

.options-panel .content .section.expanded .section-tab .fold {
  display: block;
}

.options-panel .content .section.expanded .section-tab .expand {
  display: none;
}

.options-panel .content .section.expanded .section-content {
  display: flex;
  flex-wrap: wrap;
}

.options-panel .content .section .section-content {
  display: none;
  padding: 10px;
}

.options-panel .content .section .section-content .option-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin: 0 10px 10px 10px;
}

.options-panel .content .section .section-content .option-item.selected {
  background-color: #e9c46a;
  color: white;
  cursor: default;
}

.options-panel .content .section .section-content .option-item:hover:not(.selected) {
  background-color: #eaeaea;
}

.options-panel .content .section .section-content .option-item .thumbnail {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  width: 100px;
}

.options-panel .content .section .section-content .option-item .thumbnail img {
  display: none;
}

.options-panel .content .section .section-content .option-item .text {
  margin: auto;
}

.song-viewer.performance .songs-container .song-item {
  background-color: #fafafa;
  padding: 60px 0 42% 0;
}

.song-viewer.performance .songs-container .song-item .song-details {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 16px;
  left: 0;
  line-height: 1em;
  position: fixed;
  top: 0;
  transition: box-shadow 200ms ease-in-out;
}

.song-viewer.performance .songs-container .song-item .song-details.scrolling {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.song-viewer.performance .songs-container .song-item .song-details .song-name,
.song-viewer.performance .songs-container .song-item .song-details .song-artist {
  text-transform: uppercase;
}

.song-viewer.audience .songs-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.song-viewer.audience .songs-container .song-item {
  margin: auto;
}

.song-viewer.audience .songs-container .song-item .song-details {
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  width: auto;
}

.song-viewer.audience .songs-container .song-item .song-details .basic-details {
  font-size: 22px;
  line-height: 1em;
  margin-bottom: 10px;
}

.song-viewer.audience .songs-container .song-item .song-details .musical-details {
  display: none;
}

.song-viewer.simple .songs-container .song-item {
  padding: 20px 0 42% 0;
}

.song-viewer.simple .songs-container .song-item .song-details {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 12px;
  left: 0;
  line-height: 1em;
  position: absolute;
  top: 0;
}

.song-viewer.simple .songs-container .song-item .song-details .song-name,
.song-viewer.simple .songs-container .song-item .song-details .song-artist {
  text-transform: uppercase;
}

.songs-container .song-item {
  margin: 20px 0;
  display: none;
}

.songs-container .song-item.current {
  display: block;
}

.songs-container .song-item .song-details {
  background-color: white;
  box-shadow: none;
  display: flex;
  padding: 5px 0;
  width: 100%;
  z-index: 9;
}

.songs-container .song-item .song-details .musical-details {
  margin-left: auto;
  margin-right: 50px;
}

.songs-container .song-item .song-details .musical-details select {
  appearance: none;
  border: none;
  font-size: 18px;
  margin-top: 3px;
  padding-right: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.songs-container .song-item .song-details .musical-details select:hover:not(:focus) {
  background-color: #eaeaea;
}

.songs-container .song-item .song-details .musical-details .songscale {
  font-size: 18px;
  margin-top: 3px;
}

.songs-container .song-item .song-details .basic-details {
  margin-left: 30px;
}

.songs-container .song-item .song-details .basic-details .song-name {
  font-weight: 600;
}

.songs-container .song-item .song-details .basic-details .song-artist {
  font-style: italic;
}

.songparts-container .songpart-item .content {
  margin-left: 50px;
  padding: 20px 50px 20px 0;
  position: relative;
}

.songparts-container .songpart-item .content .songpart-details {
  margin-left: 10px;
}

.songparts-container .songpart-item .content .songpart-details .songpart-name {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 14px;
  text-transform: uppercase;
}

.song-viewer.performance .songparts-container .songpart-item {
  color: gray;
  display: block;
}

.song-viewer.performance .songparts-container .songpart-item[data-simple] {
  display: none;
}

.song-viewer.performance .songparts-container .songpart-item.current {
  background-color: #e9c46a;
}

.song-viewer.performance .songparts-container .songpart-item.current .content {
  background-color: white;
  color: black;
}

.song-viewer.audience .songparts-container .songpart-item {
  display: none;
}

.song-viewer.audience .songparts-container .songpart-item[data-simple] {
  display: none;
}

.song-viewer.audience .songparts-container .songpart-item.current {
  display: block;
}

.song-viewer.audience .songparts-container .songpart-item .content .songpart-details {
  display: none;
}

.song-viewer.audience .songparts-container .songpart-item .content .songpart-details .songpart-name {
  bottom: 10px;
  position: fixed;
  right: 20px;
}

.song-viewer.audience .songparts-container .songpart-item .content .songpart-details .songpart-modulation-info {
  display: none;
}

.song-viewer.simple .songparts-container .songpart-item {
  display: none;
}

.song-viewer.simple .songparts-container .songpart-item[data-simple=''] {
  display: block;
}

.song-viewer.simple .songparts-container .songpart-item .content {
  padding: 10px 50px 10px 0;
}

.song-viewer.simple .songparts-container .songpart-item .content .songpart-details .songpart-name,
.song-viewer.simple .songparts-container .songpart-item .content .songpart-details .songpart-modulation-info {
  font-size: 10px;
}

.songlines-container .songline-item .songline-modulation-info {
  margin-left: 10px;
}

.song-viewer.performance .songlines-container .songline-item .lyrics-display {
  display: none;
}

.song-viewer.audience .songlines-container .songline-item .lyrics-content,
.song-viewer.audience .songlines-container .songline-item .chords {
  display: none;
}

.song-viewer.audience .songlines-container .songline-item .songline-modulation-info {
  display: none !important;
}

.song-viewer.simple .songlines-container .songline-item .lyrics-display {
  display: none;
}

.song-viewer.simple .songlines-container .songline-item .songline-modulation-info {
  font-size: 10px;
}

.songs-control {
  bottom: 2px;
  display: flex;
  flex-flow: row-reverse;
  position: fixed;
  right: 2px;
  width: 100%;
}

.songs-control .song-control-container {
  display: flex;
  height: 40px;
}

.songs-control .song-control-container .song-control-details {
  background-color: #eaeaea;
  padding: 8px 20px;
}

.songs-control .song-control-container .song-control-details .song-title,
.songs-control .song-control-container .song-control-details .song-artist {
  font-family: 'consolas', 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 0.8;
  text-transform: uppercase;
}

.songs-control .song-control-container .song-control-details .song-title {
  font-weight: 600;
}

.songs-control .song-control-container .song-control-details .song-artist {
  font-style: italic;
}

.songs-control .song-control-container button {
  padding: 0 10px;
}

.songs-control .song-control-container button span {
  padding-top: 2.5px;
}

.songs-control .songs-control-options {
  height: 40px;
}

.songs-control .songs-control-options button {
  background-color: #eaeaea;
  border-top: none;
  border-right: 0.5px solid white;
  border-bottom: none;
  border-left: 0.5px solid white;
  color: gray;
  padding: 4px 0;
}

.songs-control .songs-control-options button:hover,
.songs-control .songs-control-options button.context-menu-target {
  background-color: lightgray;
}

.songs-control .songs-control-options button span {
  padding-top: 5px;
}

.songlist-expanded {
  background-color: white;
  border: 1px solid lightgray;
  min-width: 200px;
  padding: 10px;
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.songlist-expanded .content {
  margin: 30px 10px 0 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.songlist-expanded .content .songlist-body .songlist-item {
  background-color: #eaeaea;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.songlist-expanded .content .songlist-body .songlist-item.current {
  background-color: #e9c46a;
  color: white;
  cursor: default;
}

.songlist-expanded .content .songlist-body .songlist-item:hover:not(.current) {
  background-color: lightgray;
}

.songlist-expanded .content .songlist-body .songlist-item .song-title {
  font-weight: 600;
}

.songlist-expanded .content .songlist-body .songlist-item .song-artist {
  font-style: italic;
}

.sequence-controls {
  position: fixed;
  right: 1px;
  top: 50px;
}

.sequence-controls .quick-control {
  display: flex;
}

.sequence-controls .quick-control .current-sequence-display {
  background-color: #eaeaea;
  font-family: 'consolas', 'Courier New', Courier, monospace;
  font-size: 16px;
  padding-top: 8px;
  width: 150px;
  text-align: center;
}

.sequence-controls .quick-control .sequence-list-options {
  background-color: #eaeaea;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: lightgray;
  padding: 5px 0;
}

.sequence-controls .quick-control .sequence-list-options:hover {
  background-color: lightgray;
  color: gray;
}

.sequence-controls .sequence-list {
  background-color: white;
  border: 1px solid lightgray;
  display: none;
  padding: 10px 10px 0 0;
}

.sequence-controls .sequence-list.expanded {
  display: block;
}

.sequence-controls .sequence-list .content {
  margin: 40px 20px 20px 20px;
  max-height: 68vh;
  overflow-y: auto;
}

.sequence-controls .sequence-list .content .sequence-list-body .sequence-list-item {
  background-color: #eaeaea;
  color: black;
  cursor: pointer;
  margin: 0 10px 5px 10px;
  padding: 5px 10px;
}

.sequence-controls .sequence-list .content .sequence-list-body .sequence-list-item.current {
  background-color: #e9c46a;
  color: white;
}

.sequence-controls .sequence-list .content .sequence-list-body .sequence-list-item:hover:not(.current) {
  background-color: lightgray;
}

.song-viewer.performance .sequence-controls .sequence-summary {
  display: none;
}

.song-viewer.audience .sequence-controls .sequence-summary {
  color: lightgray;
  display: block;
  font-weight: 600;
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.song-viewer.simple .sequence-controls .sequence-list .content {
  margin: 20px;
  max-height: 68vh;
  overflow-y: auto;
}

.song-viewer.simple .sequence-controls .sequence-list .content .sequence-list-body .sequence-list-item {
  background-color: white;
  color: black;
  cursor: default;
  margin: 0 10px;
  padding: 0 10px;
}

.song-viewer.simple .sequence-controls .sequence-list .content .sequence-list-body .sequence-list-item.current {
  background-color: #e9c46a;
  color: white;
}

.song-viewer.simple .sequence-controls .sequence-list .content .sequence-list-body .sequence-list-item:hover:not(.current) {
  background-color: white;
}

.song-viewer.simple .sequence-controls .sequence-summary {
  display: none;
}

html,
body {
  overflow-x: hidden;
}

