label {
    color: $darker;
    font-size: 13px;
    margin: 2px 10px;
    &.check-label {
        font-size: 16px;
    }
}
// Form controls
input, select, textarea {
    border: 1px solid $dark;
    font-size: 18px;
    padding: 3px 10px;
    &:focus {
        border: 1px solid $darker;
        outline: none;
    }
    &::placeholder {
        color: $dark;
    }
}

// Select
select {
    option {
        font-size: 14px;
        padding: 0;
        &:hover,&:focus {
            background-color: paleturquoise;
            border: none;
            outline: none;
        }
    }
}
