@font-face {
    font-family: 'Space Mono';
    src: url('../../fonts/Space_Mono/SpaceMono-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Nova Mono';
    src: url('../../fonts/Nova_Mono/NovaMono-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Anonymous Pro';
    src: url('../../fonts/Anonymous_Pro/AnonymousPro-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Sriracha';
    src: url('../../fonts/Sriracha/Sriracha-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sriracha';
    src: url('../../fonts/Sriracha/Sriracha-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    src: url('../../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/Montserrat-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Anton';
    src: url('../../fonts/Anton/Anton-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Suez One';
    src: url('../../fonts/Suez_One/SuezOne-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Lobster';
    src: url('../../fonts/Lobster/Lobster-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Amiri';
    src: url('../../fonts/Amiri/Amiri-Regular.ttf') format('opentype');
}
