.sequence-container {
    border: 1px solid lightgray;
    padding: 15px 20px 20px 20px;
    .sequence-details {
        margin-bottom: 20px;
        .other-sequence-actions {
            float: right;
        }
        .edit-details {
            margin: 0 60px 20px 20px;
            .input-container {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                input, textarea {
                    max-width: 390px;
                }
                textarea {
                    resize: vertical;
                }
            }
        }
    }
    .sequence-title {
        font-weight: 500;
       margin: 0 0 10px 0;
    }
    #sequenceBox {
        padding: 10px;
        margin-left: 20px;
        .sequence-item {
            display: flex;
            padding: 5px 3px;
            select {
                font-size: 16px;
                padding: 5px 10px;
                width: 230px;
                option {
                    font-size: 14px;
                }
                &:focus {
                    outline: none;
                }
            }
            .repeat {
                margin-left: 80px;
                display: flex;
                .repeat-input {
                    border: 1px solid $dark;
                    display: flex;
                    margin: 0 0 0 15px;
                    input {
                        border: none;
                        font-size: 16px;
                        padding-left: 10px;
                        width: 50px;
                        &:focus {
                            outline: none;
                        }
                    }
                    .clear {
                        padding: 4px 2px 0 2px;
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
            .sequence-item-actions {
                margin-left: auto;
                span {
                    color: $dimmer;
                    &:hover {
                        color: $dark;
                    }
                }
                .move-handle {
                    cursor: move;
                }
            }
        }
    }
    .sequence-actions {
        margin: 0 30px 10px 30px;
    }
}
