.song-details-container {
    border: 1px solid $dark;
    margin: 0 auto;
    padding: 10px 80px 0 80px;
    .body {
        .input-container {
            display: flex;
            flex-direction: column;
            margin: 15px 10px;
            label {
                white-space: nowrap;
            }
            select {
                option {
                    font-size: 14px;
                }
            }
            textarea {
                resize: vertical;
            }
            .error-text {
                color: $red;
                display: none;
                font-size: 14px;
                font-style: italic;
                margin-bottom: 10px;
            }
            .key-scale-select {
                display: flex;
                flex-direction: row;
            }
            &.has-error {
                .error-text {
                    display: block;
                }
            }
        }
        .song-musical-details {
            display: flex;
            margin: 20px 0;
            .input-container {
                &.song-time-sign {
                    flex-grow: 1;
                }
                .song-speed-input {
                    width: 150px;
                }
            }
        }
        .song-tags {
            .song-tags-box {
                user-select: none;
                .tag-item {
                    background-color: $dim;
                    border: 1px solid $dark;
                    color: black;
                    cursor: pointer;
                    line-height: 2.1em;
                    margin: 0 2px;
                    padding: 0 10px 3px 10px;
                    &:hover {
                        background-color: $dimmer;
                    }
                    &.selected {
                        background-color: $accent;
                        border: none;
                        color: white;
                    }
                }
            }
        }
    }
}
